<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clase 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button color="warning" routerLink="/pagina1">Pagina 1</ion-button>
  <ion-button color="secondary" (click)='irPagina2()'>Pagina 2</ion-button>
  <ion-button color="tertiary" (click)='irPagina3()'>Pagina 3</ion-button>
  <!--Los botones van aqui-->
  <!-- estos botones van afuera-->
  <!-- estos botones van afuera-->
  
  <!-- <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button> -->
  
  
  <div class="titulo">
    Formulario ingreso de Datos
  </div>

  <div class="contenido">

    <ion-item>
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Comentario</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>

    <ion-label>{{valor}}</ion-label>

  </div>
  

</ion-content>